ConsoleApplication1/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57040/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57040/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57040/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getTheListString_InputMessage">
    <wsdl:part name="parameters" element="tns:getTheListString" />
  </wsdl:message>
  <wsdl:message name="IService1_getTheListString_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTheListStringResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_removeToDo_InputMessage">
    <wsdl:part name="parameters" element="tns:removeToDo" />
  </wsdl:message>
  <wsdl:message name="IService1_removeToDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeToDoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addToDo_InputMessage">
    <wsdl:part name="parameters" element="tns:addToDo" />
  </wsdl:message>
  <wsdl:message name="IService1_addToDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:addToDoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FinishedItemsToDo_InputMessage">
    <wsdl:part name="parameters" element="tns:FinishedItemsToDo" />
  </wsdl:message>
  <wsdl:message name="IService1_FinishedItemsToDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinishedItemsToDoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListFinishedAndUnfinished_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListFinishedAndUnfinished" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListFinishedAndUnfinished_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListFinishedAndUnfinishedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateToDo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToDo" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateToDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToDoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getTheListString">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getTheListString" message="tns:IService1_getTheListString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getTheListStringResponse" message="tns:IService1_getTheListString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeToDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/removeToDo" message="tns:IService1_removeToDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/removeToDoResponse" message="tns:IService1_removeToDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addToDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addToDo" message="tns:IService1_addToDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addToDoResponse" message="tns:IService1_addToDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishedItemsToDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FinishedItemsToDo" message="tns:IService1_FinishedItemsToDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FinishedItemsToDoResponse" message="tns:IService1_FinishedItemsToDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListFinishedAndUnfinished">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListFinishedAndUnfinished" message="tns:IService1_GetListFinishedAndUnfinished_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListFinishedAndUnfinishedResponse" message="tns:IService1_GetListFinishedAndUnfinished_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateToDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateToDo" message="tns:IService1_UpdateToDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateToDoResponse" message="tns:IService1_UpdateToDo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTheListString">
      <soap:operation soapAction="http://tempuri.org/IService1/getTheListString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeToDo">
      <soap:operation soapAction="http://tempuri.org/IService1/removeToDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addToDo">
      <soap:operation soapAction="http://tempuri.org/IService1/addToDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishedItemsToDo">
      <soap:operation soapAction="http://tempuri.org/IService1/FinishedItemsToDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListFinishedAndUnfinished">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListFinishedAndUnfinished" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateToDo">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateToDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:57040/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>